mixin typesCard(listObject)
	.types__card
		.types__icon
			img(src=`images/show/dronico-sl_${listObject.img}.svg` alt=`${listObject.alt}`)
		.types__title.title-dark
			| #{listObject.title}
		.types__text
			| #{listObject.text}

mixin dronicoImgSlide(img)
	.dronico-slider__img-slide.swiper-slide
		img(src=`images/show/dronico-sl_${img}.png` alt=`${img}`)

mixin dronicoImgNumSlider(imgNum)
	.dronico-slider__imgNum-slide.swiper-slide
			img(src=`images/show/dronico-sl_${imgNum}.svg` alt=`${imgNum}`)

mixin dronicoSlide(title, subtitle, myList)
	.dronico-slider__slide.swiper-slide
		.dronico-slider__content
			div(class="dronico-slider__title title-dark")
				| #{title}
			div(class="dronico-slider__subtitle title-dark")
				| #{subtitle}
			div(class="dronico-slider__types types")
				each listItemObject in myList
					+typesCard(listItemObject)