mixin historyCard(img, alt, title, text)
	div(class=`history__card ${alt}`)
		img.history__card-icon(src=`images/show/history_${img}.svg` alt=`${alt}`)
		.history__card-title
			| #{title}
		.history__card-text
			|	#{text}