mixin projectsCard(id, videoNum ,img, title, texts)
	a(class="projects__card" data-fslightbox="lightbox" href=`#${id}`)
		iframe(title=`${id}` id=`${id}` src=`https://player.vimeo.com/video/${videoNum}` width="1920px" height="1080px" frameBorder="0" allow="autoplay; fullscreen" allowFullScreen)
		.projects__card-img
			img(src=`images/balloon/projects_${img}.jpg` alt=`${img}`)
		.projects__card-textcontainer
			.projects__card-title #{title}
			.projects__card-text
				each text in texts
					p= text